CRUDLogin/.vs/CRUDLogin/FileContentIndex/50ef21ec-4f55-473c-895b-7d805b836654.vsidx
CRUDLogin/.vs/CRUDLogin/FileContentIndex/read.lock
CRUDLogin/.vs/CRUDLogin/v17/.suo
CRUDLogin/CRUDLogin/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
CRUDLogin/CRUDLogin/obj/Debug/CRUDLogin.csproj.AssemblyReference.cache
CRUDLogin/CRUDLogin/obj/Debug/DesignTimeResolveAssemblyReferences.cache
CRUDLogin/CRUDLogin/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
